*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-color: #2f454f;
	color: #2f454f;

}

.header_section {
	background:darkcyan;
	height: 100vh;
  }

#image{
	width: 50%;
	z-index: ;
	position: fixed;
	top: 400px;
}
  
  
.navbar{
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	padding: 2px 10px 0 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	backdrop-filter: blur(8px);
	
}
.list a{
	text-decoration: none;
	color: white;

}
.menu .list{
	list-style: none;
	display: flex;
	gap: 25px;

}
.menu .list li:hover{
	transition: 400ms;
	transform: scale(1.1);
}
.menu .list a:focus{
  text-decoration: underline;
  
}

#toggler,
.navbar label{
	display: none;
}
.logo_icon img{
	width: 80px;
}


.right_navbar{
	display: flex;
	gap: 8px;
	align-items: start;
}
.user_icon{
	display: none;
} 
.login_button, .join_button{
	text-decoration: none;
	padding: 8px;
	color: white;
	border-radius: 12px;
	background:linear-gradient(to right, grey, rgb(33, 33, 33));
}

.login_button:hover, .join_button:hover{
	transition: 300ms;
	opacity: 70%;
}
.login_button:active{
	scale: 1.1;
}
.join_button:active{
	scale: 1.1;
}
.search_container{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 400px;
	gap: 8px;
}
.search_container input{
	background:linear-gradient(to right, grey, rgb(33, 33, 33));
	padding: 8px;
	border-radius: 12px;
	width: 50%;
	border: 1px solid grey;
    color: rgb(103, 103, 203);
	font-size: 16px;
	
}

.search_container input:focus{
	outline: none;
	background: white;
	transition: 400ms;
	
}
input::placeholder{
	color: white
  }
input:focus::-webkit-input-placeholder{
	color: black;
}

.search_container button{
	background:linear-gradient(to right, grey, rgb(33, 33, 33));
	color: white;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 12px;
	cursor: pointer;
}
.search_container button:hover{
	opacity: 70%;
	transition: 400ms;
}
.search_container button:active{
	scale: 1.1;
}


  .main_section_container{
	margin-bottom: 0;
    display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	color: white;
	
  }

  .main_section_container p{
	margin-top: 16px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 36px;

  }
  
  .main_section_container a {
	color: white;
	background: #111;
	text-decoration: none;
	padding: 8px;
    cursor: pointer;
    border-radius: 10px;
}
.main_section_container a:hover{
	background:linear-gradient(to right, grey, rgb(33, 33, 33));
	color: white;
	transition: 400ms;
}
.main_section_container a:active{
	transform: scale(1.1);
}


@media only screen and (max-width:600px){
	.logo_icon img{
		width:60px;

	}
	.menu{
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}
	.menu .list{
		flex-direction: column;
		align-items: center;
		padding: 12px;
	}

	.navbar label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}
	
	.Join_button, .login_button{
		display: none;
	}
	.user_icon{
		display: flex;
		color: purple;
		cursor: pointer;
	}
  }

  .content-page-one{
	background: darkred;
	height: 60vh;
  }
  .content-page-two{
	background: lightcoral;
	height: 60vh;
  }
  .content-page-three{
	background: lightseagreen;
	height: 60vh;
  }

  .footer-section{
	background:rgb(60, 60, 60);
	height: 40vh;
	color: white;
  }
  .footer-section-contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
  }
  .contact-email i{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .contact-address i{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .contact-phone i{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .contact-email h1{
	font-size: 16px;
	text-align: center;
  }
  .contact-email p{
	font-size: 14px;
	text-align: center;
  }
  .contact-address h1{
	font-size: 16px;
	text-align: center;
  }
  .contact-address p{
	font-size: 14px;
	text-align: center;
  }
  .contact-phone h1{
	font-size: 16px;
	text-align: center;
  }
  .contact-phone p{
	font-size: 14px;
	text-align: center;
  }
  .footer-section hr{
	margin-top: 24px;
	margin-bottom: 24px;
	border: 0 solid transparent;
	border-bottom: 2px solid #2f454f;
  }
  .footer-section-social-media{
	display: flex;
	justify-content: center;
  }
.fa-brands {
	padding: 20px;
	font-size: 30px;
	width: 40px;
	height: 30px;
	text-align: center;
	text-decoration: none;
  }

  .fa-brands:hover {
	opacity: 0.7;
  }
  .fa-square-facebook{
	color: rgb(57, 57, 172);
  }
  #fb{
	position: relative;
	
    }
  .fa-instagram{
	color: orangered;

  }
  .fa-twitter{
	color: rgb(72, 167, 204);
  }
  