*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-color: #2f454f;
	color: #2f454f;

}

.header_section {
	background:darkcyan;
	height: 100vh;
  }
  .body-section{
	background: red;
	height: 100vh;
  }
  
  
.navbar{
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	padding: 12px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	backdrop-filter: blur(8px);
	
}
.list a{
	text-decoration: none;
	color: white;

}
.menu .list{
	list-style: none;
	display: flex;
	gap: 25px;

}
.menu .list li:hover{
	transition: 400ms;
	transform: scale(1.1);
}
.menu .list a:focus{
  text-decoration: underline;
  
}

#toggler,
.navbar label{
	display: none;
}
.logo_icon img{
	width: 100px;
}


.right_navbar{
	display: flex;
	gap: 8px;
	align-items: start;
}
.user_icon{
	display: none;
} 
.login_button, .join_button{
	text-decoration: none;
	padding: 8px;
	color: white;
	border-radius: 12px;
	background: darkmagenta;
}

.login_button:hover, .join_button:hover{
	transition: 300ms;
	background: darkviolet;
}
.search_container{
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 8px;
	height: calc(100vh - 350px);

}
.search_container input{
	background:rgb(60, 4, 60);
	padding: 8px;
	border-radius: 12px;
	width: 50%;
	border: 1px solid purple;
    color: rgb(103, 103, 203);
	font-size: 16px;
	
}

.search_container input:focus{
	outline: none;
	background: white;
	transition: 400ms;
	
}
input::placeholder{
	color: white
  }
input:focus::-webkit-input-placeholder{
	color: black;
}

.search_container button{
	background:rgb(60, 4, 60);
	color: white;
	padding: 8px; 
	border-radius: 12px;
	cursor: pointer;
}
.search_container button:hover{
	background:darkviolet;
	transition: 400ms;
}


  .main_section_container{
	margin-bottom: 0;
    display: block;
    margin-top: 8vh;
    width: 90%;
    text-align: center;
	z-index: 1;
	color:rgb(54, 1, 54);
	margin: 0 auto;
  }

  .main_section_container p{
	margin-top: 16px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 36px;

  }
  
  .main_section_container a {
    color: #fff;
    background: #111;
	text-decoration: none;
	padding: 8px;
    cursor: pointer;
	z-index: 0;
    position: relative;
    border-radius: 10px;
}
.main_section_container a:hover{
	background:darkviolet;
	color: white(46, 44, 44);
	transition: 400ms;
}
/* .main_section_container a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -1px;
    left:-1px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.main_section_container a:active {
    color: #000
}

.main_section_container a:active:after {
    background: transparent;
}

.main_section_container a:hover:before {
    opacity: 1;
}

.main_section_container a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
 


@media only screen and (max-width:600px){
	.logo_icon img{
		width:60px;

	}
	.menu{
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}
	.menu .list{
		flex-direction: column;
		align-items: center;
		padding: 12px;
	}

	.navbar label{
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}
	
	.Join_button, .login_button{
		display: none;
	}
	.user_icon{
		display: flex;
		color: purple;
		cursor: pointer;
	}
  }